<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema RPG{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">
    {% include "css.html" %}
    {% block extra_head %}{% endblock %}
</head>
<body>
    <!-- Navbar -->
    {% include "nav_bar.html" %}
    <!-- Contenido principal -->
    <main class="container mt-5">
        {% block content %}
        <div class="text-center">
            <h1>¡Bienvenido al Sistema de RPG!</h1>
            <p>Gestiona tus personajes, campañas y sumérgete en el mundo de fantasía.</p>
        </div>
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Sistema RPG. Todos los derechos reservados.</p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
